In [255]:
import networkx as nx
import matplotlib.pyplot as plt
import community
import types
import pickle 
import pandas as pd
from networkx.algorithms.community.centrality import girvan_newman
from networkx.algorithms.community.kclique import k_clique_communities
from networkx.algorithms.community import greedy_modularity_communities

## Todos

TODO: The main thing is just to find a way to partition the graph into a reasonable number of clusters.

TODO: Try other options in networkx.algorithms.community. See https://networkx.github.io/documentation/stable/reference/algorithms/community.html

TODO: Recreate a graph, maybe in GEPHI, using whatever communinty structure we end up with

TODO: LSA / Semantic analysis

TODO: Add diagnostics showing how long some tasks take to run

## Load Graph
Read in the edge list, which contains all relevant information: source author -> target author, number of times cited

In [138]:
G_directed = nx.read_weighted_edgelist("./small_edge_list.csv", delimiter=",",create_using= nx.DiGraph())
G = nx.read_weighted_edgelist("./small_edge_list.csv", delimiter=",")

In [275]:
G_tiny = nx.read_weighted_edgelist("./tiny_edge_list.csv", delimiter=",")
G_tiny_directed = nx.read_weighted_edgelist("./tiny_edge_list.csv", delimiter=",", create_using= nx.DiGraph())
G_large_directed = nx.read_weighted_edgelist("./complete_edge_list.csv", delimiter=",",create_using= nx.DiGraph())
G_large = nx.read_weighted_edgelist("./complete_edge_list.csv", delimiter=",")

In [140]:
# Choose which graph to focus on
G_main = G_large_directed

In [12]:
# To convert files to graphml 
# nx.write_graphml(G_directed, "small_edge_list.graphml")

### Basic Stats

In [141]:
print(nx.info(G_main))
# print(nx.diameter(G))
# print(nx.average_neighbor_degree(G_large_directed))

Name:
Type: DiGraph
Number of nodes: 9925
Number of edges: 55279
Average in degree:   5.5697
Average out degree:   5.5697

## Author statistics

In [142]:
# In degree
degreeTable = pd.DataFrame(G_main.in_degree, columns = ["Name","In Degree"])
sd = degreeTable.sort_values(by=['In Degree'], ascending=False)
sd.head(10)

                Name  In Degree
59         HUSSERL E       1163
229      HEIDEGGER M        834
1254  MERLEAUPONTY M        685
931           KANT I        378
2193        SARTRE J        317
2275       DERRIDA J        304
2753         HEGEL G        300
226         ZAHAVI D        289
2445       LEVINAS E        282
741        RICOEUR P        271

In [143]:
# Out-degree
degreeTable = pd.DataFrame(G_main.out_degree, columns = ["Name","Out Degree"])
sd = degreeTable.sort_values(by=['Out Degree'], ascending=False)
sd.head(10)

                Name  Out Degree
25           MORAN D         281
1339         FUCHS T         245
226         ZAHAVI D         223
434         FROESE T         196
440      GALLAGHER S         195
1071  SCHWITZGEBEL E         143
163       HEINAMAA S         142
10          DEPRAZ N         140
200           SASS L         134
119       WRATHALL M         131

In [144]:
# Hubs and Authorities
h,a=nx.hits(G_main)

# First hubs
hubTable =  pd.DataFrame.from_dict(h,orient='index', columns=["Hubitude"])
sd = hubTable.sort_values(by=['Hubitude'], ascending=False)
sd.head(20)

              Hubitude
ZAHAVI D      0.012030
DEPRAZ N      0.007946
MORAN D       0.007362
CROWELL S     0.005895
HEINAMAA S    0.005108
FERENCZ F     0.004465
GALLAGHER S   0.004223
SHEETS J      0.003789
FUCHS T       0.003680
HARTIMO M     0.003632
BRIEDIS M     0.003622
RATCLIFFE M   0.003444
JONKUS D      0.003443
SUMMA M       0.003399
WALDENFELS B  0.003364
PLOTKA W      0.003290
WALSH P       0.003275
FROESE T      0.003193
SAENZ M       0.003134
KUHN R        0.003123

In [145]:
# Then authorities
authTable =  pd.DataFrame.from_dict(a,orient='index', columns=["Authority"])
sd = authTable.sort_values(by=['Authority'], ascending=False)
sd.head(20)

                Authority
HUSSERL E        0.058220
HEIDEGGER M      0.024142
MERLEAUPONTY M   0.021066
ZAHAVI D         0.013648
SARTRE J         0.008362
DERRIDA J        0.008345
LEVINAS E        0.008026
GALLAGHER S      0.007909
KANT I           0.006420
DREYFUS H        0.006238
VARELA F         0.006193
RICOEUR P        0.006050
FINK E           0.005556
DEPRAZ N         0.005325
HENRY M          0.005259
MARION J         0.005027
SCHELER M        0.004974
BERNET R         0.004880
STEINBOCK A      0.004820
WALDENFELS B     0.004723

In [146]:
# Eigenvector centrality
centrality = nx.eigenvector_centrality(G_directed)
ec_table =  pd.DataFrame.from_dict(centrality,orient='index', columns=["Centrality"])
ect = ec_table.sort_values(by=['Centrality'], ascending=False)
ect.head(20)

                Centrality
HUSSERL E         0.405200
HEIDEGGER M       0.267859
MERLEAUPONTY M    0.241819
ZAHAVI D          0.157583
KANT I            0.143643
SARTRE J          0.132890
FINK E            0.125441
GALLAGHER S       0.116983
DREYFUS H         0.113294
LEVINAS E         0.111870
SCHELER M         0.111787
DENNETT D         0.110833
DERRIDA J         0.104042
SEARLE J          0.102608
GURWITSCH A       0.099961
JAMES W           0.094314
MCDOWELL J        0.092371
BERNET R          0.090029
VARELA F          0.089812
NAGEL T           0.084789

## Community Detection

See https://networkx.github.io/documentation/stable/reference/algorithms/community.html

## Helper Methods

In [212]:
# Currently only prints top level clusters
# todo: recursively print all sub-clusters
def print_clusters(graph, clusters):
    print("Graph has ",len(clusters), "clusters")
    for i,p in enumerate(clusters):
        print("Cluster",(i+1), "has", len(p), "members")

In [194]:
# Converts nested generators to a list of lists
# The list can then be saved via pickle
# I suspect _extremely_ slow for large lists
# From https://stackoverflow.com/questions/36726129/convert-nested-iterables-to-list
def unfold(iterable):
    ret = []
    for element in iterable:
        if isinstance(element, types.GeneratorType):
            ret.append(unfold(element))
        else:
            ret.append(element)
    return ret

### Louvain

https://python-louvain.readthedocs.io/en/latest/api.html

Appears to be deterministic with default settings

Does not seem to work with directed graphs

I think it's using weights but not sure

In [262]:
partition = community.generate_dendrogram(G_large)

In [263]:
print_clusters(G_large, partition)

Graph has  3 clusters
Cluster 1 has 9925 members
Cluster 2 has 705 members
Cluster 3 has 51 members

In [157]:
# Save / re-open a partition
# pickle.dump(partition, open("partition_louvain.obj", "wb"))
# test = pickle.load(open("partition_louvain.obj", "rb"))

### Girvan Newman

Takes a long time...

In [276]:
partition_gn = girvan_newman(G_tiny_directed)

In [277]:
clusters_gn = unfold(partition_gn)

In [278]:
# print_clusters(G_tiny, clusters_gn) # Something is obviously wrong!

Graph has  178 clusters
Cluster 1 has 2 members
Cluster 2 has 3 members
Cluster 3 has 4 members
Cluster 4 has 5 members
Cluster 5 has 6 members
Cluster 6 has 7 members
Cluster 7 has 8 members
Cluster 8 has 9 members
Cluster 9 has 10 members
Cluster 10 has 11 members
Cluster 11 has 12 members
Cluster 12 has 13 members
Cluster 13 has 14 members
Cluster 14 has 15 members
Cluster 15 has 16 members
Cluster 16 has 17 members
Cluster 17 has 18 members
Cluster 18 has 19 members
Cluster 19 has 20 members
Cluster 20 has 21 members
Cluster 21 has 22 members
Cluster 22 has 23 members
Cluster 23 has 24 members
Cluster 24 has 25 members
Cluster 25 has 26 members
Cluster 26 has 27 members
Cluster 27 has 28 members
Cluster 28 has 29 members
Cluster 29 has 30 members
Cluster 30 has 31 members
Cluster 31 has 32 members
Cluster 32 has 33 members
Cluster 33 has 34 members
Cluster 34 has 35 members
Cluster 35 has 36 members
Cluster 36 has 37 members
Cluster 37 has 38 members
Cluster 38 has 39 members
Cluster 39 has 40 members
Cluster 40 has 41 members
Cluster 41 has 42 members
Cluster 42 has 43 members
Cluster 43 has 44 members
Cluster 44 has 45 members
Cluster 45 has 46 members
Cluster 46 has 47 members
Cluster 47 has 48 members
Cluster 48 has 49 members
Cluster 49 has 50 members
Cluster 50 has 51 members
Cluster 51 has 52 members
Cluster 52 has 53 members
Cluster 53 has 54 members
Cluster 54 has 55 members
Cluster 55 has 56 members
Cluster 56 has 57 members
Cluster 57 has 58 members
Cluster 58 has 59 members
Cluster 59 has 60 members
Cluster 60 has 61 members
Cluster 61 has 62 members
Cluster 62 has 63 members
Cluster 63 has 64 members
Cluster 64 has 65 members
Cluster 65 has 66 members
Cluster 66 has 67 members
Cluster 67 has 68 members
Cluster 68 has 69 members
Cluster 69 has 70 members
Cluster 70 has 71 members
Cluster 71 has 72 members
Cluster 72 has 73 members
Cluster 73 has 74 members
Cluster 74 has 75 members
Cluster 75 has 76 members
Cluster 76 has 77 members
Cluster 77 has 78 members
Cluster 78 has 79 members
Cluster 79 has 80 members
Cluster 80 has 81 members
Cluster 81 has 82 members
Cluster 82 has 83 members
Cluster 83 has 84 members
Cluster 84 has 85 members
Cluster 85 has 86 members
Cluster 86 has 87 members
Cluster 87 has 88 members
Cluster 88 has 89 members
Cluster 89 has 90 members
Cluster 90 has 91 members
Cluster 91 has 92 members
Cluster 92 has 93 members
Cluster 93 has 94 members
Cluster 94 has 95 members
Cluster 95 has 96 members
Cluster 96 has 97 members
Cluster 97 has 98 members
Cluster 98 has 99 members
Cluster 99 has 100 members
Cluster 100 has 101 members
Cluster 101 has 102 members
Cluster 102 has 103 members
Cluster 103 has 104 members
Cluster 104 has 105 members
Cluster 105 has 106 members
Cluster 106 has 107 members
Cluster 107 has 108 members
Cluster 108 has 109 members
Cluster 109 has 110 members
Cluster 110 has 111 members
Cluster 111 has 112 members
Cluster 112 has 113 members
Cluster 113 has 114 members
Cluster 114 has 115 members
Cluster 115 has 116 members
Cluster 116 has 117 members
Cluster 117 has 118 members
Cluster 118 has 119 members
Cluster 119 has 120 members
Cluster 120 has 121 members
Cluster 121 has 122 members
Cluster 122 has 123 members
Cluster 123 has 124 members
Cluster 124 has 125 members
Cluster 125 has 126 members
Cluster 126 has 127 members
Cluster 127 has 128 members
Cluster 128 has 129 members
Cluster 129 has 130 members
Cluster 130 has 131 members
Cluster 131 has 132 members
Cluster 132 has 133 members
Cluster 133 has 134 members
Cluster 134 has 135 members
Cluster 135 has 136 members
Cluster 136 has 137 members
Cluster 137 has 138 members
Cluster 138 has 139 members
Cluster 139 has 140 members
Cluster 140 has 141 members
Cluster 141 has 142 members
Cluster 142 has 143 members
Cluster 143 has 144 members
Cluster 144 has 145 members
Cluster 145 has 146 members
Cluster 146 has 147 members
Cluster 147 has 148 members
Cluster 148 has 149 members
Cluster 149 has 150 members
Cluster 150 has 151 members
Cluster 151 has 152 members
Cluster 152 has 153 members
Cluster 153 has 154 members
Cluster 154 has 155 members
Cluster 155 has 156 members
Cluster 156 has 157 members
Cluster 157 has 158 members
Cluster 158 has 159 members
Cluster 159 has 160 members
Cluster 160 has 161 members
Cluster 161 has 162 members
Cluster 162 has 163 members
Cluster 163 has 164 members
Cluster 164 has 165 members
Cluster 165 has 166 members
Cluster 166 has 167 members
Cluster 167 has 168 members
Cluster 168 has 169 members
Cluster 169 has 170 members
Cluster 170 has 171 members
Cluster 171 has 172 members
Cluster 172 has 173 members
Cluster 173 has 174 members
Cluster 174 has 175 members
Cluster 175 has 176 members
Cluster 176 has 177 members
Cluster 177 has 178 members
Cluster 178 has 179 members

### K Clique Communities

In [271]:
# Appears to be deterministic
clusters_kc = k_clique_communities(G_large,4)

In [272]:
list_kc = unfold(clusters_kc)

In [274]:
# print_clusters(G_tiny, list_kc)

In [69]:
# Cluster with 873 members
#                Name  In Degree
# 428       HUSSERL E        535
# 829     HEIDEGGER M        326
# 225  MERLEAUPONTY M        303

## Greedy

In [257]:
# Appears to be deterministic
clusters_greedy = k_clique_communities(G_large, 5)

In [258]:
list_greedy = unfold(clusters_greedy)

In [259]:
print_clusters(G_large, list_greedy)

Graph has  50 clusters
Cluster 1 has 918 members
Cluster 2 has 5 members
Cluster 3 has 5 members
Cluster 4 has 5 members
Cluster 5 has 5 members
Cluster 6 has 5 members
Cluster 7 has 11 members
Cluster 8 has 6 members
Cluster 9 has 5 members
Cluster 10 has 5 members
Cluster 11 has 6 members
Cluster 12 has 6 members
Cluster 13 has 6 members
Cluster 14 has 5 members
Cluster 15 has 19 members
Cluster 16 has 5 members
Cluster 17 has 7 members
Cluster 18 has 5 members
Cluster 19 has 5 members
Cluster 20 has 5 members
Cluster 21 has 6 members
Cluster 22 has 5 members
Cluster 23 has 5 members
Cluster 24 has 5 members
Cluster 25 has 5 members
Cluster 26 has 7 members
Cluster 27 has 5 members
Cluster 28 has 7 members
Cluster 29 has 5 members
Cluster 30 has 5 members
Cluster 31 has 6 members
Cluster 32 has 5 members
Cluster 33 has 5 members
Cluster 34 has 5 members
Cluster 35 has 5 members
Cluster 36 has 5 members
Cluster 37 has 5 members
Cluster 38 has 5 members
Cluster 39 has 5 members
Cluster 40 has 5 members
Cluster 41 has 5 members
Cluster 42 has 5 members
Cluster 43 has 6 members
Cluster 44 has 5 members
Cluster 45 has 5 members
Cluster 46 has 5 members
Cluster 47 has 5 members
Cluster 48 has 5 members
Cluster 49 has 5 members
Cluster 50 has 5 members

## Draw graph

In [ ]:
# nx.draw(G, node_size = 10, with_labels=True, font_size = 12)

### Archived functions 
There may be some useful code fragments here

Delete ASAP following the principle of commented out code is gross and should not be allowed to accumulate

In [160]:
def print_clusters(graph, clusters):
    print("Graph has ",len(clusters), "clusters")
    for i,p in enumerate(clusters):
        print("Cluster",(i+1), "has", len(p), "members")
#         if (len(p) > 0):
#             for i2,p2 in enumerate(p):
#                 print("\tSubCluster",(i2+1), "has", len(p2), "members")
                
#         subgraph = graph.subgraph([i for i in list(p)])
#         print(subgraph)
#         table = pd.DataFrame(graph.degree, columns = ["Name","Degree"])
#         table = table.sort_values(by=['Degree'], ascending=False)
#         print(st.head(3))
#         print()

In [ ]:
def print_community(community, hasmembers=True):
    print(len(community))
    if(hasmembers):
        for comm in community:
            print(comm)
    else:
        print(community)