In [20]:
import networkx as nx
import matplotlib.pyplot as plt
from networkx.algorithms import community
import pickle 
import pandas as pd

## Todos

TODO: Print who the members of each community are in the various algorithms

TODO: LSA / Semantic analysis

TODO: Add diagnostics showing how long some tasks take to run

TODO: Recreate a graph, maybe in GEPHI, using whatever communinty structure we end up with

## Load Graph
Read in the edge list, which contains all relevant information: source author -> target author, number of times cited

In [21]:
# Use tiny_edge_list.csv and small_edge_list.csv
# G = nx.read_weighted_edgelist("./tiny_edge_list.csv", delimiter=",")
G_directed = nx.read_weighted_edgelist("./small_edge_list.csv", delimiter=",",create_using= nx.DiGraph())
G = nx.read_weighted_edgelist("./small_edge_list.csv", delimiter=",")

In [18]:
G_large = nx.read_weighted_edgelist("./complete_edge_list.csv", delimiter=",",create_using= nx.DiGraph())

In [320]:
# To convert files to graphml 
# nx.write_graphml(G_directed, "small_edge_list.graphml")

In [19]:
# print(nx.info(G_directed))
print(nx.info(G_large))

Name:
Type: DiGraph
Number of nodes: 9925
Number of edges: 55279
Average in degree:   5.5697
Average out degree:   5.5697

## Various node orderings

In [22]:
# In degree
degreeTable = pd.DataFrame(G_directed.in_degree, columns = ["Name","In Degree"])
sd = degreeTable.sort_values(by=['In Degree'], ascending=False)
sd.head(10)

                Name  In Degree
59         HUSSERL E       1108
224      HEIDEGGER M        795
1186  MERLEAUPONTY M        656
888           KANT I        363
2011        SARTRE J        298
2072       DERRIDA J        294
221         ZAHAVI D        285
2207       LEVINAS E        272
706        RICOEUR P        262
2413         HEGEL G        260

In [323]:
degreeTable = pd.DataFrame(G_directed.out_degree, columns = ["Name","Out Degree"])
sd = degreeTable.sort_values(by=['Out Degree'], ascending=False)
sd.head(10)

                Name  Out Degree
23           MORAN D         228
221         ZAHAVI D         187
1265         FUCHS T         167
423      GALLAGHER S         149
417         FROESE T         139
162       HEINAMAA S         129
1016  SCHWITZGEBEL E         116
7           DEPRAZ N         111
118          WALSH P         110
1088       KRIEGEL U         110

In [324]:
# Not sure if results differ between G and G_directed...
h,a=nx.hits(G)

In [325]:
authTable =  pd.DataFrame.from_dict(a,orient='index', columns=["Authority"])
sd = authTable.sort_values(by=['Authority'], ascending=False)
sd.head(20)

                Authority
HUSSERL E        0.020710
ZAHAVI D         0.012081
HEIDEGGER M      0.008453
MERLEAUPONTY M   0.007427
DEPRAZ N         0.006937
MORAN D          0.006112
CROWELL S        0.005290
HEINAMAA S       0.004736
GALLAGHER S      0.004640
WALDENFELS B     0.003687
FUCHS T          0.003600
STEINBOCK A      0.003336
RATCLIFFE M      0.003182
FERENCZ F        0.003057
JONKUS D         0.003012
SARTRE J         0.002993
DERRIDA J        0.002881
FROESE T         0.002825
HARTIMO M        0.002780
LEVINAS E        0.002766

In [24]:
hubTable =  pd.DataFrame.from_dict(h,orient='index', columns=["Hubitude"])
sd = hubTable.sort_values(by=['Hubitude'], ascending=False)
sd.head(20)

             Hubitude
FINK E       0.081331
BRUZINA R    0.077549
CAIRNS D     0.024191
DEPRAZ N     0.021869
CHERNAVIN G  0.019397
HIMANKA J    0.018945
DASTUR F     0.018945
SMYTH B      0.018323
BERTOLINI S  0.017619
GIUBILATO G  0.017412
HOMAN C      0.014608
INVERSO H    0.014488
HENRY M      0.013163
IKEDA Y      0.013163
LORELLE P    0.012956
ALVIN J      0.012956
TERZI P      0.012748
HOPKINS B    0.011565
DE P         0.010239
BESOLI S     0.010239

In [23]:
centrality = nx.eigenvector_centrality(G_directed)

In [24]:
ec_table =  pd.DataFrame.from_dict(centrality,orient='index', columns=["Centrality"])
ect = ec_table.sort_values(by=['Centrality'], ascending=False)
ect.head(20)

                Centrality
HUSSERL E         0.405200
HEIDEGGER M       0.267859
MERLEAUPONTY M    0.241819
ZAHAVI D          0.157583
KANT I            0.143643
SARTRE J          0.132890
FINK E            0.125441
GALLAGHER S       0.116983
DREYFUS H         0.113294
LEVINAS E         0.111870
SCHELER M         0.111787
DENNETT D         0.110833
DERRIDA J         0.104042
SEARLE J          0.102608
GURWITSCH A       0.099961
JAMES W           0.094314
MCDOWELL J        0.092371
BERNET R          0.090029
VARELA F          0.089812
NAGEL T           0.084789

## Community Detection

See https://networkx.github.io/documentation/stable/reference/algorithms/community.html

### Helper Methods

In [25]:
# Print out the number of members of each communinty and sub-community.  
# Note that results can a generator, in which case after running this once the generator is "unwound" and must be recreated
def conmunity_stats(results, level = 2):
    for l1 in results:
        print("Level 1:", len(l1), "members")
        print_community(l1)
        if level > 1:
            for l2 in l1:
                print("Level 2:", len(l2),"members")
                print_community(l2, hasmembers=False) # TODO: Not working

In [26]:
def print_community(community, hasmembers=True):
    print(len(community))
    if(hasmembers):
        for comm in community:
            print(comm)
    else:
        print(community)

In [27]:
def get_first_level(generator):
    results = []
    for res in generator:
        results.append(res)
    return results

### Girvan Newman

Takes a long time...

In [246]:
cg_gn = community.girvan_newman(G)

In [179]:
top_level = next(cg_gn)

In [180]:
next_level = next(cg_gn)

In [257]:
res = get_first_level(cg_gn)
for cluster in res:
    print("Cluster", len(cluster))
    dt = G_directed.subgraph([i for i in cluster[1]])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

Cluster 2
           Name  In Degree
1   DAHLSTROM D         37
0   OVERGAARD S          0
28     ADRIAN J          0

Cluster 3
           Name  In Degree
1   DAHLSTROM D         37
0   OVERGAARD S          0
28     ADRIAN J          0

Cluster 4
         Name  In Degree
25   CAIRNS D         56
31  BRUZINA R         24
0    BARBER M          0

Cluster 5
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 6
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 7
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 8
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 9
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 10
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 11
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 12
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 13
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 14
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 15
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 16
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 17
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 18
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 19
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 20
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 21
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 22
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 23
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 24
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 25
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 26
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 27
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 28
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 29
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 30
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 31
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 32
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 33
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 34
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 35
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 36
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 37
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 38
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 39
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 40
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 41
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 42
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 43
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 44
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 45
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 46
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 47
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 48
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 49
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 50
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 51
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 52
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 53
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 54
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 55
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 56
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 57
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 58
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 59
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 60
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 61
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 62
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 63
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 64
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 65
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 66
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 67
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 68
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 69
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 70
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 71
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 72
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 73
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 74
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 75
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 76
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 77
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 78
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 79
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 80
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 81
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 82
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 83
         Name  In Degree
10  BRUZINA R         24
0    PLOTKA W          0
13    SMYTH B          0

Cluster 84
         Name  In Degree
10  BRUZINA R         23
0    PLOTKA W          0
12    WEBER J          0

Cluster 85
         Name  In Degree
10  BRUZINA R         23
0    PLOTKA W          0
12    WEBER J          0

Cluster 86
         Name  In Degree
10  BRUZINA R         23
0    PLOTKA W          0
12    WEBER J          0

Cluster 87
         Name  In Degree
10  BRUZINA R         23
0    PLOTKA W          0
12    WEBER J          0

Cluster 88
         Name  In Degree
10  BRUZINA R         22
0    PLOTKA W          0
12    WEBER J          0

Cluster 89
         Name  In Degree
10  BRUZINA R         22
0    PLOTKA W          0
12    WEBER J          0

Cluster 90
         Name  In Degree
10  BRUZINA R         22
0    PLOTKA W          0
12    WEBER J          0

Cluster 91
         Name  In Degree
10  BRUZINA R         22
0    PLOTKA W          0
12    WEBER J          0

Cluster 92
         Name  In Degree
10  BRUZINA R         21
11    HOMAN C          0
19    ONATE A          0

Cluster 93
         Name  In Degree
10  BRUZINA R         21
11    HOMAN C          0
19    ONATE A          0

Cluster 94
         Name  In Degree
10  BRUZINA R         21
11    HOMAN C          0
19    ONATE A          0

Cluster 95
         Name  In Degree
10  BRUZINA R         21
11    HOMAN C          0
19    ONATE A          0

Cluster 96
         Name  In Degree
10  BRUZINA R         20
1   GRONDIN J          0
18    ONATE A          0

Cluster 97
         Name  In Degree
10  BRUZINA R         20
1   GRONDIN J          0
18    ONATE A          0

Cluster 98
         Name  In Degree
10  BRUZINA R         20
1   GRONDIN J          0
18    ONATE A          0

Cluster 99
         Name  In Degree
10  BRUZINA R         20
1   GRONDIN J          0
18    ONATE A          0

Cluster 100
         Name  In Degree
9   BRUZINA R         19
10    HOMAN C          0
17    ONATE A          0

Cluster 101
         Name  In Degree
9   BRUZINA R         19
10    HOMAN C          0
17    ONATE A          0

Cluster 102
         Name  In Degree
9   BRUZINA R         19
10    HOMAN C          0
17    ONATE A          0

Cluster 103
         Name  In Degree
9   BRUZINA R         19
10    HOMAN C          0
17    ONATE A          0

Cluster 104
          Name  In Degree
4    BRUZINA R         18
0   SHESTOVA E          0
10   ROGGERO J          0

Cluster 105

          Name  In Degree
4    BRUZINA R         18
0   SHESTOVA E          0
10   ROGGERO J          0

Cluster 106
          Name  In Degree
4    BRUZINA R         18
0   SHESTOVA E          0
10   ROGGERO J          0

Cluster 107
          Name  In Degree
4    BRUZINA R         18
0   SHESTOVA E          0
10   ROGGERO J          0

Cluster 108
         Name  In Degree
4   BRUZINA R         17
0  SHESTOVA E          0
9   ROGGERO J          0

Cluster 109
         Name  In Degree
4   BRUZINA R         17
0  SHESTOVA E          0
9   ROGGERO J          0

Cluster 110
         Name  In Degree
4   BRUZINA R         17
0  SHESTOVA E          0
9   ROGGERO J          0

Cluster 111
         Name  In Degree
4   BRUZINA R         17
0  SHESTOVA E          0
9   ROGGERO J          0

Cluster 112
         Name  In Degree
4   BRUZINA R         16
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 113
         Name  In Degree
4   BRUZINA R         16
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 114
         Name  In Degree
4   BRUZINA R         16
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 115
         Name  In Degree
4   BRUZINA R         16
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 116
         Name  In Degree
4   BRUZINA R         15
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 117
         Name  In Degree
4   BRUZINA R         15
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 118
         Name  In Degree
4   BRUZINA R         15
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 119
         Name  In Degree
4   BRUZINA R         15
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 120
         Name  In Degree
4   BRUZINA R         14
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 121
         Name  In Degree
4   BRUZINA R         14
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 122
         Name  In Degree
4   BRUZINA R         14
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 123
         Name  In Degree
4   BRUZINA R         14
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 124
         Name  In Degree
4   BRUZINA R         13
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 125
         Name  In Degree
4   BRUZINA R         13
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 126
         Name  In Degree
4   BRUZINA R         13
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 127
         Name  In Degree
4   BRUZINA R         13
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 128
         Name  In Degree
4   BRUZINA R         12
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 129
         Name  In Degree
4   BRUZINA R         12
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 130
         Name  In Degree
4   BRUZINA R         12
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 131
         Name  In Degree
4   BRUZINA R         12
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 132
         Name  In Degree
4   BRUZINA R         11
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 133
         Name  In Degree
4   BRUZINA R         11
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 134
         Name  In Degree
4   BRUZINA R         11
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 135
         Name  In Degree
4   BRUZINA R         11
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 136
         Name  In Degree
4   BRUZINA R         10
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 137
         Name  In Degree
4   BRUZINA R         10
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 138
         Name  In Degree
4   BRUZINA R         10
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 139
         Name  In Degree
4   BRUZINA R         10
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 140
         Name  In Degree
4   BRUZINA R          9
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 141
         Name  In Degree
4   BRUZINA R          9
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 142
         Name  In Degree
4   BRUZINA R          9
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 143
         Name  In Degree
4   BRUZINA R          9
0  SHESTOVA E          0
1    PLOTKA W          0

Cluster 144
         Name  In Degree
3   BRUZINA R          8
0  SHESTOVA E          0
1     TERZI P          0

Cluster 145
         Name  In Degree
3   BRUZINA R          8
0  SHESTOVA E          0
1     TERZI P          0

Cluster 146
         Name  In Degree
3   BRUZINA R          8
0  SHESTOVA E          0
1     TERZI P          0

Cluster 147
         Name  In Degree
3   BRUZINA R          8
0  SHESTOVA E          0
1     TERZI P          0

Cluster 148
         Name  In Degree
3   BRUZINA R          7
0  SHESTOVA E          0
1    VECINO M          0

Cluster 149
         Name  In Degree
3   BRUZINA R          7
0  SHESTOVA E          0
1    VECINO M          0

Cluster 150
         Name  In Degree
3   BRUZINA R          7
0  SHESTOVA E          0
1    VECINO M          0

Cluster 151
         Name  In Degree
3   BRUZINA R          7
0  SHESTOVA E          0
1    VECINO M          0

Cluster 152
         Name  In Degree
3   BRUZINA R          6
0  SHESTOVA E          0
1    VECINO M          0

Cluster 153
         Name  In Degree
3   BRUZINA R          6
0  SHESTOVA E          0
1    VECINO M          0

Cluster 154
         Name  In Degree
3   BRUZINA R          6
0  SHESTOVA E          0
1    VECINO M          0

Cluster 155
         Name  In Degree
3   BRUZINA R          6
0  SHESTOVA E          0
1    VECINO M          0

Cluster 156
        Name  In Degree
2  BRUZINA R          5
0   VECINO M          0
1    TERZI P          0

Cluster 157
        Name  In Degree
2  BRUZINA R          5
0   VECINO M          0
1    TERZI P          0

Cluster 158
        Name  In Degree
2  BRUZINA R          5
0   VECINO M          0
1    TERZI P          0

Cluster 159
        Name  In Degree
2  BRUZINA R          5
0   VECINO M          0
1    TERZI P          0

Cluster 160
        Name  In Degree
3  BRUZINA R          4
0    WEBER J          0
1   VECINO M          0

Cluster 161
        Name  In Degree
3  BRUZINA R          4
0    WEBER J          0
1   VECINO M          0

Cluster 162
        Name  In Degree
3  BRUZINA R          4
0    WEBER J          0
1   VECINO M          0

Cluster 163
        Name  In Degree
3  BRUZINA R          4
0    WEBER J          0
1   VECINO M          0

Cluster 164
        Name  In Degree
3  BRUZINA R          4
0    WEBER J          0
1   VECINO M          0

Cluster 165
        Name  In Degree
2  BRUZINA R          3
0    WEBER J          0
1   VECINO M          0

Cluster 166
        Name  In Degree
2  BRUZINA R          3
0    WEBER J          0
1   VECINO M          0

Cluster 167
        Name  In Degree
2  BRUZINA R          3
0    WEBER J          0
1   VECINO M          0

Cluster 168
        Name  In Degree
2  BRUZINA R          3
0    WEBER J          0
1   VECINO M          0

Cluster 169
        Name  In Degree
2  BRUZINA R          3
0    WEBER J          0
1   VECINO M          0

Cluster 170
        Name  In Degree
1  BRUZINA R          2
0    WEBER J          0

Cluster 171
        Name  In Degree
1  BRUZINA R          2
0    WEBER J          0

Cluster 172
        Name  In Degree
1  BRUZINA R          2
0    WEBER J          0

Cluster 173
        Name  In Degree
1  BRUZINA R          2
0    WEBER J          0

Cluster 174
        Name  In Degree
1  BRUZINA R          2
0    WEBER J          0

Cluster 175
        Name  In Degree
0  BRUZINA R          1

Cluster 176
        Name  In Degree
0  BRUZINA R          1

Cluster 177
        Name  In Degree
0  BRUZINA R          1

Cluster 178
        Name  In Degree
0  BRUZINA R          1

Cluster 179
        Name  In Degree
0  BRUZINA R          1

In [ ]:
# sorted(map(sorted, next_level))

In [ ]:
# Save communites
# pickle.dump(next_level, open("gn_communities.obj", "wb"))

In [ ]:
# Testing re-open
# cg_gn = pickle.load(open("gn_communities.obj", "rb"))

In [ ]:
sample = conmunity_stats(cg_gn,1)

### K Clique Communities

In [28]:
cg_kc = community.k_clique_communities(G,2)

In [29]:
conmunity_stats(cg_kc,1)

KeyboardInterrupt:

In [317]:
res = get_first_level(cg_kc)

KeyboardInterrupt:

In [ ]:
for cluster in res:
    print("Cluster with", len(cluster), "members")
    dt = G_directed.subgraph([i for i in list(cluster)])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

### Label propagation

In [293]:
cg_label = community.label_propagation_communities(G)

In [294]:
# conmunity_stats(cg_label,1)

In [295]:
res = get_first_level(cg_label)

In [296]:
for cluster in res:
    print("Cluster with", len(cluster), "members")
    dt = G_directed.subgraph([i for i in list(cluster)])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

Cluster with 36 members
           Name  In Degree
1   DAHLSTROM D         35
0   OVERGAARD S          0
20         DE L          0

Cluster with 101 members
         Name  In Degree
44     FINK E         90
1   BRUZINA R         27
63  COPILAS E          0

Cluster with 4 members
           Name  In Degree
3  CAPOBIANCO R          3
0       FIELD J          0
1     KENNEDY T          0

Cluster with 38 members
            Name  In Degree
11      CAIRNS D         37
0       PLOTKA W          0
28  SOKOLOWSKI R          0

### Bipartition

In [297]:
cg_kg = community.kernighan_lin_bisection(G)

In [298]:
# conmunity_stats(cg_kg,1)

In [299]:
res = get_first_level(cg_kg)
for cluster in res:
    print("Cluster with", len(cluster), "members")
    dt = G_directed.subgraph([i for i in list(cluster)])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

Cluster with 89 members
            Name  In Degree
0    DAHLSTROM D         38
37  CAPOBIANCO R          5
56           O L          0

Cluster with 90 members
         Name  In Degree
58     FINK E         60
30   CAIRNS D         40
1   BRUZINA R         29

### Greedy

In [300]:
cg_greedy = community.greedy_modularity_communities(G)

In [301]:
# conmunity_stats(cg_greedy,1)

In [302]:
res = get_first_level(cg_greedy)
for cluster in res:
    print("Cluster with", len(cluster), "members")
    dt = G_directed.subgraph([i for i in list(cluster)])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

Cluster with 58 members
         Name  In Degree
54     FINK E         57
0   JOHNSON F          0
43  LIEBSCH B          0

Cluster with 43 members
          Name  In Degree
15    CAIRNS D         42
0     BARBER M          0
22  TRAKAKIS N          0

Cluster with 39 members
           Name  In Degree
1   DAHLSTROM D         38
20    MCMANUS D          0
21     TANZER M          0

Cluster with 32 members
         Name  In Degree
16  BRUZINA R         32
1     HENRY M          0
30    ONATE A          0

Cluster with 7 members
           Name  In Degree
3  CAPOBIANCO R          6
0       LOZAR J          0
1       HOMAN C          0

### Fluid

In [303]:
cg_fluid = community.asyn_fluidc(G,5)

In [304]:
# conmunity_stats(cg_fluid,1)

In [305]:
res = get_first_level(cg_fluid)
for cluster in res:
    print("Cluster with", len(cluster), "members")
    dt = G_directed.subgraph([i for i in list(cluster)])
    dt = pd.DataFrame(dt.in_degree, columns = ["Name","In Degree"])
    st = dt.sort_values(by=['In Degree'], ascending=False)
    print(st.head(3))
    print()

Cluster with 68 members
         Name  In Degree
64     FINK E         67
0   JOHNSON F          0
42   GHITTI J          0

Cluster with 64 members
            Name  In Degree
2    DAHLSTROM D         36
29     BRUZINA R         25
7   CAPOBIANCO R          5

Cluster with 1 members
          Name  In Degree
0  THEODOROU P          0

Cluster with 1 members
       Name  In Degree
0  HOLMES R          0

Cluster with 45 members
            Name  In Degree
16      CAIRNS D         44
0       BARBER M          0
33  SOKOLOWSKI R          0

### LFR 
Failed

In [85]:
# n = 250
# tau1 = 3
# tau2 = 1.5
# mu = 0.1
# LFR = community.LFR_benchmark_graph(n, tau1, tau2, mu, average_degree=5, min_community=20, seed=10)
# cg_LFR = {frozenset(LFR.nodes[v]['community']) for v in G}

## Draw graph

In [ ]:
# nx.draw(G, node_size = 10, with_labels=True, font_size = 12)