In [45]:
import pandas as pd

In [66]:
df= pd.read_csv("top_authors_by_community.csv")

In [67]:
pd.options.display.max_rows = 200

In [68]:
# df

In [69]:
grouped = df.groupby(df.community)
for key, item in grouped:
    if(item.iloc[0,1]) > 20:
        print(grouped.get_group(key), "\n\n")

             name  degree  community
0       HUSSERL E    1188          1
1     HEIDEGGER M     831          1
2  MERLEAUPONTY M     703          1
3          KANT I     378          1
4        SARTRE J     317          1


          name  degree  community
5      HEGEL G     300          2
6  HYPPOLITE J      68          2
7     KOJEVE A      59          2
8     PIPPIN R      52          2
9     FICHTE J      49          2


            name  degree  community
15     JASPERS K      65          4
16      STRAUS E      44          4
17        SASS L      41          4
18  BINSWANGER L      39          4
19      PARNAS J      37          4


              name  degree  community
39     GALLAGHER S     240          8
40  WITTGENSTEIN L     181          8
41       DREYFUS H     178          8
42         JAMES W     162          8
43        SEARLE J     145          8


          name  degree  community
44    BUTLER J      80          9
45     YOUNG I      49          9
46  IRIGARAY L      38          9
47     FANON F      29          9
48    ALCOFF L      24          9