In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("top_authors_by_community.csv")

In [3]:
pd.options.display.max_rows = 200

In [4]:
# df

In [5]:
grouped = df.groupby(df.community)
for key, item in grouped:
    if(item.iloc[0,1]) > 20:
        print(grouped.get_group(key), "\n\n")

            name  degree  community
0      HUSSERL E    1188          1
1      SCHELER M     168          1
2       BERNET R     159          1
3         FINK E     157          1
4  SPIEGELBERG H     129          1


             name  degree  community
5  MERLEAUPONTY M     703          2
6        SARTRE J     317          2
7        ZAHAVI D     286          2
8     GALLAGHER S     240          2
9       DREYFUS H     178          2


        name  degree  community
10    KANT I     378          3
11   HEGEL G     300          3
12  TAYLOR C      89          3
13  ADORNO T      81          3
14    MARX K      77          3


              name  degree  community
15  WITTGENSTEIN L     181          4
16         RORTY R      69          4
17          IHDE D      42          4
18          KUHN T      41          4
19       SCHMITZ H      40          4


           name  degree  community
20  HEIDEGGER M     831          5
21    DERRIDA J     304          5
22    LEVINAS E     282          5
23    RICOEUR P     271          5
24    GADAMER H     207          5


          name  degree  community
25     JAMES W     162          6
26    SEARLE J     145          6
27  MCDOWELL J     131          6
28  CHALMERS D     113          6
29     NAGEL T     101          6

In [10]:
tops = pd.read_csv("tops.csv")

In [11]:
tops

              name  degree  community
0        HUSSERL E    1188          1
1      HEIDEGGER M     831          5
2   MERLEAUPONTY M     703          2
3           KANT I     378          3
4         SARTRE J     317          2
5        DERRIDA J     304          5
6          HEGEL G     300          3
7         ZAHAVI D     286          2
8        LEVINAS E     282          5
9        RICOEUR P     271          5
10     GALLAGHER S     240          2
11       GADAMER H     207          5
12  WITTGENSTEIN L     181          4
13       DREYFUS H     178          2
14       SCHELER M     168          1
15         JAMES W     162          6
16         HENRY M     161          5
17        BERNET R     159          1
18          FINK E     157          1
19        MARION J     157          5
20        SEARLE J     145          6
21       DENNETT D     144          2
22     DESCARTES R     142          5
23       ARISTOTLE     142          5
24      FOUCAULT M     139          5
25        VARELA F     136          2
26     NIETZSCHE F     136          5
27      MCDOWELL J     131          6
28   SPIEGELBERG H     129          1
29      BRENTANO F     123          1
30       DELEUZE G     119          5
31    SOKOLOWSKI R     113          1
32    WALDENFELS B     113          5
33      CHALMERS D     113          6
34      THOMPSON E     112          2
35         MORAN D     107          1
36     STEINBOCK A     105          1
37       PATOCKA J     105          5
38           NOE A     105          2
39        SCHUTZ A     103          1
40        ARENDT H     101          5
41         NAGEL T     101          6
42        DEPRAZ N      99          2
43           TYE M      98          6
44      DRUMMOND J      97          1
45      HABERMAS J      96          5
46       MOHANTY J      95          1
47     GURWITSCH A      95          1
48      BARBARAS R      93          5
49         CLARK A      93          2