In [1]:
import pandas as pd

In [6]:
# df = pd.read_csv("cocm.csv")
df = pd.read_csv("cleaned_matrix.csv")

In [7]:
df.shape

(1740, 1694)

In [8]:
df.head()

,Unnamed: 0,1950,1954,1957,1959,1960,1962,1963,1964,1965,...,ZAGZEBSKI L,ZAHAVI D,ZANER R,ZARADER M,ZEKI S,ZHOK A,ZIMMERMAN M,ZIZEK S,ZLATEV J,ZUBIRI X
0,[ANONYMOUS],0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ABALO F,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,ABATH A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ABBOTT M,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACCETTI C,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0